<div class="row">
  <% @followings.each do |following| %>
  <aside class="col-md-4">
    <%= link_to user_path(following) do %>
    <section class="user_info">
      <h1>
        <%= gravatar_for following %>
        <%= following.name %>
      </h1>
    </section>
    <% end %>
    <%= render partial: 'follow_form', locals: { user: following } %>
  </aside>
  <% end %>
</div>
